@media screen and (max-width: 991px) {
  header.header-v1 .topbar,
  header.header-v1 .main-nav {
    display: none;
  }
  header.header-v1 .sm-mobile-header {
    display: block;
  }
  header.header-v3 .main-nav {
    display: none;
  }
  header.header-v3 .sm-mobile-header {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header-v2 .header-v2-titlebar {
    height: 450px;
  }
  .header-v2 .header-v2-titlebar .page-title {
    font-size: 36px;
  }
  .header-v2 .sm-header-nav-area {
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header-v2 .sm-full-screen-nav nav {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }
  footer .copyright .logo-wrapper {
    position: initial;
    text-align: center;
    margin-bottom: 10px;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
  footer .copyright .copyright-text {
    float: none;
  }
  footer .copyright .copyright-right-side {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer .sm-footer-4col-layout-fix {
    width: 100%;
    height: 50px;
    clear: both;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .sm-titlebar.small {
    height: auto;
    padding: 40px 0;
  }
  .sm-titlebar.small .full-height {
    height: auto;
  }
  .sm-titlebar.small .left,
  .sm-titlebar.small .right {
    float: none;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .sm-titlebar.large .container {
    height: 450px;
  }
  .sm-titlebar.large .page-title {
    font-size: 36px;
  }
  .sm-titlebar.large .page-subtitle {
    font-size: 22px;
  }
  .sm-titlebar.large2 .container {
    height: 450px;
  }
  .sm-titlebar.large2 .title-wrapper {
    margin-top: 140px;
  }
  .sm-titlebar.large2 .page-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 479px) {
  .sm-titlebar.large .home-link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .sm-titlebar.large .breadcrumbs {
    left: 15px;
    right: 15px;
    bottom: 50px;
    text-align: center;
  }
}
/* Quote post */
@media screen and (max-width: 767px) {
  .sm-post-quote .excerpt {
    width: 100%;
  }
  .sm-post-quote .post-meta {
    position: static;
    margin-top: 10px;
  }
  .sm-post-single .author-info {
    display: none;
  }
  .sm-post-comments .row {
    margin-bottom: 0;
  }
}
/* Post featured media */
@media screen and (max-width: 359px) {
  .sm-post .featured-media .post-date,
  .sm-post .featured-media .post-format {
    display: none;
  }
}
/* Comment list & author box */
@media screen and (max-width: 479px) {
  .sm-post-comments .comment-list div.avatar {
    position: static;
    display: inline-block;
    margin-bottom: 10px;
  }
  .sm-post-comments .comment-list .comment-box {
    padding-left: 0;
  }
}
@media screen and (max-width: 719px) {
  .sm-author-box .author-avatar-wrapper {
    float: none;
    margin-bottom: 30px;
    text-align: center;
  }
  .sm-author-box .author-avatar-wrapper .author-avatar-border {
    display: inline-block;
  }
  .sm-author-box .author-info {
    padding-left: 0;
  }
  .sm-post-comments .comment-list ol.children {
    padding-left: 30px;
    border-left: 0;
  }
  .sm-post-comments .comment-list ol.children .comment:before,
  .sm-post-comments .comment-list ol.children .comment:after {
    content: none;
  }
  .sm-post-comments .comment-list .comment-box .comment-links {
    position: static;
    margin: 10px 0 5px;
  }
}
/* Blog single - Related posts */
@media screen and (max-width: 479px) {
  .sm-related-posts .sm-related-post {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .sm-related-posts .no-image .related-post-content-col-wrapper {
    padding-top: 200%;
  }
}
@media screen and (max-width: 991px) {
  .sm-portfolio .col-desc,
  .sm-portfolio .col-info {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .sm-404-content {
    height: 650px;
  }
  .sm-404-content .message {
    -webkit-transform: translateY(110px);
    -moz-transform: translateY(110px);
    -o-transform: translateY(110px);
    -ms-transform: translateY(110px);
    transform: translateY(110px);
    font-size: 22px;
  }
  .sm-404-content .home-link {
    bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .woocommerce table.shop_table .sm-quantity-input .quantity-dec,
  .woocommerce table.shop_table .sm-quantity-input .quantity-inc {
    display: none;
  }
  .woocommerce .woocommerce-result-count,
  .woocommerce-page .woocommerce-result-count {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .woocommerce table.shop_table th.product-remove,
  .woocommerce table.shop_table td.product-remove,
  .woocommerce table.shop_table th.product-subtotal,
  .woocommerce table.shop_table td.product-subtotal {
    display: none;
  }
  .woocommerce table.shop_table td.actions {
    padding-left: 30px;
  }
  .woocommerce table.shop_table td.actions #coupon_code {
    width: 100%;
    margin-bottom: 10px;
  }
  .woocommerce table.shop_table td.actions .coupon input[type=submit],
  .woocommerce table.shop_table td.actions .buttons input[type=submit] {
    padding: 0 10px;
  }
}
@media screen and (max-width: 991px) {
  .woocommerce table.shop_table td.actions .coupon {
    float: none;
    width: 100%;
  }
  .woocommerce table.shop_table td.actions #coupon_code {
    width: calc(100% - 140px);
  }
  .woocommerce table.shop_table td.actions .coupon-input,
  .woocommerce table.shop_table td.actions .buttons {
    width: 100%;
    max-width: 100%;
  }
  .woocommerce table.shop_table td.actions .buttons {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .margin-bottom-30-sm:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 991px) {
  .margin-bottom-30-md:not(:last-child) {
    margin-bottom: 30px;
  }
}
